<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <!-- SQL DATABASE -->
  <SQLServerName>\Application\DCSJSP\</SQLServerName>
  <SQLDatabaseName>DBDCSJSP.sdf</SQLDatabaseName>
  <SQLUserID></SQLUserID>
  <SQLPassword></SQLPassword>
  
  <!-- WEB SERVICE ORACLE -->
  <WSOraChckURL>http://vawbmtd0.perodua.com.my:4559/ws/perodua.eai.process.inventory.ws:processValidationService/perodua_eai_process_inventory_ws_processValidationService_Port</WSOraChckURL>
  <WSOraCpURL>http://vawbmtd0.perodua.com.my:4559/ws/perodua.eai.process.inventory.ws:processInventoryConsumptionService/perodua_eai_process_inventory_ws_processInventoryConsumptionService_Port</WSOraCpURL>
  <WSOraUserID>promiseusr</WSOraUserID>
  <WSOraPassword>promiseusr</WSOraPassword>
  
  <!-- WEB SERVICE TTMS -->
  <WSDcsURL>http://10.1.115.233:8084/DCSWebService.svc</WSDcsURL>
</Configuration>